.navbar,.navbar-default,.navbar-header,.navbar-default{
    background-color: rgb(12, 12, 12);
    color: white !important;
    border-color: rgb(12, 12, 12);
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
}

body{
    background-color: rgb(12, 12, 12); 
    color: white;
}

a{
    color: white;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;    
}

a:hover{
    color: rgb(12, 12, 12);
    background-color: white;
}

.navbar {
    min-height: 80px;
}
  
.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}
  
.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
}
  
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.jumbotron{
    margin-top: -20px;
    background-color: rgb(12, 12, 12);
}

.slideanim {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(30%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.visanim{
    animation-name: visbly;
    -webkit-animation-name: visbly;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
}
@keyframes visbly {
    0% {
      opacity: 0;
    } 
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes visbly {
    0% {
      opacity: 0;
    } 
    100% {
      opacity: 1;
    }
  }

.btn-circle.btn-xl {
    width: 120px;
    height: 120px;
    padding: 10px 16px;
    border-radius: 60px;
    font-size: 48px;
    line-height: 1.33;
    color: white;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:visited {
    background-color: rgb(12, 12, 12) !important;
}
