<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ServiceUs - Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .navbar{
        background-color: rgb(12, 12, 12) !important;
    }
    </style>

</head>
<body>

    <!-- For heading navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">ServiceUs</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            </div>

            <!-- Contents of nav bar -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'logout' %}"><strong>Log out</strong></a></li>
                </ul>
            </div>   
        </div>
    </nav>

    <div class="container">
        <div class="container" style="background-color: white;border: 1px solid #ccc;padding-top: 15px;padding-bottom: 40px;padding-left: 20px;padding-right: 20px;">
            <h2> These are your order details!</h2><br>
            
            <h4> Name: {{curname}}</h4>
            <!-- <h4> Mobile number: {{extradet}}</h4> -->
            <h4> Pick-up Location: {{pickplace}}</h4>
            <h4> Destination: {{dropplace}}</h4>
            <h4> Journey type: {{jourtype}}</h4>
            <h4> Booking time: {{timebook}}</h4><br>

            <h2> Thank you for choosing us!</h2>
        </div>
    </div>
</body>
</html>