<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ServiceUs - Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    </script>



    <style>
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0; 
        }
        .navbar{
            background-color: rgb(12, 12, 12) !important;
        }
    </style>
</head>
<body>

    <!-- For heading navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'befsignin' %}">ServiceUs</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><strong>About Us</strong></a></li>
            <li><a href="{% url 'signin' %}"><strong>Login</strong></a></li>
            </ul>
        </div>
    </nav>

    <!-- For login form -->
    <div class="container">

        <div class="container" style="background-color: white;border: 1px solid #ccc;padding-top: 15px;padding-bottom: 40px;padding-left: 20px;padding-right: 20px;">

            <!-- For form header -->
            <div>
                <h2>Create</h2>
                <p>a new ServiceUs account</p>
            </div>
            <br>
            <form action="{% url 'register' %}" onsubmit="return validateMyForm();" method="POST">
                    {% csrf_token %}
                <!-- First Name input -->
                <div class="form-group">
                    <label for="name">First name:</label>
                    <input type="text" class="form-control" name="firstname" id="username" placeholder="Enter name">
                </div>

                <!-- Last Name input -->
                <div class="form-group">
                    <label for="name">Last name:</label>
                    <input type="text" class="form-control" name="lastname" id="username" placeholder="Enter name">
                </div>

                <!-- User Name input -->
                <div class="form-group">
                    <label for="name">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter name">
                </div>

                <!-- For E-mail input -->
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="usermail" placeholder="Enter e-mail">
                </div>

                <!-- Registration number input -->
                <div class="form-group">
                    <label for="regno">VIT Registration number:</label>
                    <input type="text" class="form-control" name="regno" id="userregno" placeholder="Enter VIT Registration number">
                </div>

                <!-- Mobile number number input -->
                <div class="form-group">
                    <label for="mobileno">Mobile number:</label>
                    <input type="number" class="form-control" name="mobno" id="mobileno" placeholder="Enter mobile number">
                </div>

                <!-- For password input -->
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="pass" id="userpass" placeholder="Enter password">
                </div>
                
                <!-- For confirming password -->
                <div class="for-group">
                    <label for="confpass">Confirm-Password:</label>
                    <input type="password" class="form-control" name="repass" id="userconfpass" placeholder="Enter password again">
                </div>

                <br>
                <!-- Joining or Signing in -->
                <input type="submit" class="btn btn-default " id="signup" value="Join">

            </form>
            <br>
            <button class="btn btn-default" id="signin" onclick="location.href = '{% url 'signin' %}'">Already there?</button>

        </div>
    </div>

    <script>
        function validateMyForm()
            {
                x = document.getElementById('userpass').value;
                y = document.getElementById('userconfpass').value;
                z = document.getElementById('username').value;
                a = document.getElementById('mobileno').value;
                b = document.getElementById('firstname').value;
                c = document.getElementById('lastname').value;
                
                // For name
                if(/^[a-zA-Z]+$/.b){
                    alert("Enter a valid First name!");
                    returnToPreviousPage();
                    return false;
                }
                if(/^[a-zA-Z]+$/.c){
                    alert("Enter a valid Last Name");
                    returnToPreviousPage();
                    return false;
                }
                if(b.length<1){
                    alert("Enter your First name!");
                    returnToPreviousPage();
                    return false;
                }
                if(c.length<1){
                    alert("Enter your Last name!");
                    returnToPreviousPage();
                    return false;
                }

                // For username
                if(z.length<6){
                    alert("Username should have more than 6 characters!");
                    returnToPreviousPage();
                    return false;
                }
                
                // For passwords
                if(x.length<8){
                    alert("Please enter more than 8 characters for your password!");
                    returnToPreviousPage();
                    return false;
                }
                if(x!=y){ 
                    alert("Passwords don't match!");
                    returnToPreviousPage();
                    return false;
                }
                return true;
            }
            // $('#mobileno').mask('0000-000-000');
    </script>
</body>
</html>