<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Website - login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- For heading navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Website Name</a>
            </div>
        </div>
    </nav>

    
    <!-- For login form -->
    <div class="container">

        <div class="container" style="border: 1px solid #ccc;padding-top: 15px;padding-bottom: 40px;padding-left: 20px;padding-right: 20px;">

            <!-- For form header -->
            <div>
                <h2>Log in</h2>
                <p>with your Website account</p>
            </div>
            
            <br>
            {% if error_message %}<p style="color:red">{{ error_message }}</p>{% endif %}
            <br>

            <form action="{% url 'auth' %}" method="POST">
                    {% csrf_token %}
                <!-- For email or mobile number input -->
                <div class="form-group">
                    <label for="email">Username:</label>
                    <input type="text" class="form-control" name="username" id="userdetail" placeholder="Enter e-mail" required>
                </div>

                <!-- For password input -->
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="userpass" placeholder="Enter password" required>
                </div>
                
                <!-- For login and Sign up -->
                <input type="submit" class="btn btn-primary" value="Sign In">

            </form>
            <br>
            <button class="btn btn-primary" id="signup" onclick="location.href = '{% url 'signup' %}';">Join us?</button>
            <button class="btn btn-primary" id="forgpass" onclick="">Forgot Password?</button>

        </div>
    </div>

</body>
</html>