<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Website - Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0; 
        }
    </style>
</head>
<body>

    <!-- For heading navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Website Name</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><strong>Login</strong></a></li>
            </ul>
        </div>
    </nav>

    <!-- For login form -->
    <div class="container">

        <div class="container" style="border: 1px solid #ccc;padding-top: 15px;padding-bottom: 40px;padding-left: 20px;padding-right: 20px;">

            <!-- For form header -->
            <div>
                <h2>Create</h2>
                <p>a new Website account</p>
            </div>
            <br>
            <form action="{% url 'register' %}" onsubmit="return validateMyForm();" method="POST">
                    {% csrf_token %}
                <!-- Name input -->
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" id="username" placeholder="Enter name">
                </div>

                <!-- For E-mail input -->
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="usermail" placeholder="Enter e-mail">
                </div>

                <!-- Registration number input -->
                <div class="form-group">
                    <label for="regno">VIT Registration number:</label>
                    <input type="text" class="form-control" name="regno" id="userregno" placeholder="Enter VIT Registration number">
                </div>

                <!-- Mobile number number input -->
                <div class="form-group">
                    <label for="mobileno">Mobile number:</label>
                    <input type="number" class="form-control" name="mobno" id="mobileno" placeholder="Enter mobile number">
                </div>

                <!-- Alternate Mobile number -->
                <div class="form-group">
                    <label for="mobileno">Alternate mobile number:</label>
                    <input type="number" class="form-control" name="altmob" id="mobileno" placeholder="Enter mobile number">
                </div>

                <!-- For password input -->
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="pass" id="userpass" placeholder="Enter password">
                </div>
                
                <!-- For confirming password -->
                <div class="for-group">
                    <label for="confpass">Confirm-Password:</label>
                    <input type="password" class="form-control" name="repass" id="userconfpass" placeholder="Enter password again">
                </div>

                <br>
                <!-- Joining or Signing in -->
                <input type="submit" class="btn btn-primary" id="signup" value="Join">
                <button class="btn btn-primary" id="signin" onclick="">Already there?</button>

            </form>

        </div>
    </div>

    <script>
        function validateMyForm()
            {
                x = document.getElementById('userpass').value;
                y = document.getElementById('userconfpass').value;
            if(x!=y)
            { 
                alert("validation failed false");
                returnToPreviousPage();
                return false;
            }

            alert("validations passed");
            return true;
            }
    </script>
</body>
</html>