@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open sans',serif;
}

.main{
    display: inline;
}

#projects{
    float: left;
    position: absolute;
    height: 100%;
    width: 50%;  
    right: 0;
    top: 0;
    background-image: url("arduino.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
}
#cabs{
    float: right;
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    background-image: url("taxi.jpg");   
    /* background-image: url("arduino.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.cabsBut {
    border-radius: 20px;
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 12px 25px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    float: right;
    margin-top: 600px;
    margin-right: 300px;
}
  
.cabsBut:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cabsBut span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;

}
  
.cabsBut span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.cabsBut:hover span {
    padding-right: 25px;
}
  
.cabsBut:hover span:after {
    opacity: 1;
    right: 0;
}

.proBut {
    border-radius: 20px;
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 12px 25px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    float: left;
    margin-top: 590px;
    margin-left: 300px;
}
 
.proBut:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.proBut span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
  
.proBut span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.proBut:hover span {
    padding-right: 25px;
}
  
.proBut:hover span:after {
    opacity: 1;
    right: 0;
}



.signOut{
    color: white;
    position: absolute;
    font-style: bold;
    font-size: 20px;
    background-color:transparent;
    border-color:transparent;
    padding: 12px 22px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 580px; 
    transition-duration: 0.5s;
}
.signOut:hover{
    color: black;
    background-color: white;
}
.contact{
    position: absolute;
    color: white;
    font-style: bold;
    font-size: 20px;
    background-color:transparent;
    border-color:transparent;
    padding: 12px 22px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 420px;
    transition-duration: 0.5s; 
}
.contact:hover{
    color: black;
    background-color: white;
}

#header{
    position: absolute;
    font-size: 80px;
    color: white;
    margin-top: 200px;
    margin-left: -250px;    
    text-align: center;
}
